.profile__edit {
    width: 24px;
    height: 24px;
    background-size: 10px;
    margin: -5px 0 0 18px;
    align-self: center;
    background-color: #000;
    border: 1px solid #fff;
    background-image: url(../../../image/edit__button.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding: 0;
}
.profile__edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1023px) {
    .profile__edit {
        margin-right: 10px;
        margin-left: 10px;
    }
    
}

@media screen and (max-width: 768px) {
    .profile__edit {
        margin: -10px auto 0 10px;
        width: 18px;
        height: 18px;
        background-size: 7.5px;
    }
    
}