.footer {
    max-width: 882px;
    width: 100%;
    margin: 67px auto 0;
    padding: 0;
    padding-bottom: 60px;
    }

    @media screen and (max-width: 1023px) {
        .footer {
          max-width: 712px;
        }
      }

      @media screen and (max-width: 767px) {
        .footer {
          max-width: 642px;
        }
      }

    @media screen and (max-width: 680px) {
        .footer {
            margin-top: 48px;
            padding-bottom: 36px;
            max-width: 282px;
        }
    }