.elements__list {
    max-width: 880px;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
    gap: 20px 17px;
}

@media screen and (max-width: 1023px) {
    .elements__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 19px;
        max-width: 712px;
    }
    
}

@media screen and (max-width: 680px) {
	.elements__list {
		grid-template-columns: repeat(1, 1fr);
        max-width: 282px;
	}
}